#animation{
	height: 100px;
	width: 178px;
	background-color: red;
	position: relative;
	animation: animation 2s;
	border-radius: 10px;
	font-size: 18px;
}
@keyframes animation{
	from{
		background-color: red;
	}
	to{
		background-color: yellow;
	}
}
#animation h1{
	position: absolute;
	top: 10px;
	color: black;
	left: 5px;
}
.pagination{
	margin-left: 500px;
	position: absolute;
	top: 400px;


}
.pagination a{
	padding: 15px;
	text-decoration: none;
	border: 1px solid black;

}
.pagination .active{
	background-color: green;
	color: white;
	border-radius: 10px;
}