label{
	font-size: 40px;
}
input[type="text"]{
	height: 100px;
	width: 100px;
	border-radius:50px;
	transition: 2s width;
}
input[type="text"]:hover{
	width: 1000px; 
}
.pagination{
	margin-left: 500px;
	position: absolute;
	top: 400px;


}
.pagination a{
	padding: 15px;
	text-decoration: none;
	border: 1px solid black;

}
.pagination .active{
	background-color: green;
	color: white;
	border-radius: 10px;
}
