#header{
	text-align: center;
}

ul li{
	list-style: none;
	font-size: 30px;
	border-style: solid;
	padding: 10px;
	
}
ul li a:hover{
	background-color: black;
	color: green;
}

.side-navbar
{
height: 100px;
width: 30%;
text-align: center;
}

body {
 background-image: url("05-usersthink-stock-image.jpg");
  
}
